/* Styles for HomeView, PodcastView, CohortView */

.view-section {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-title {
  text-align: center;
}

/* HOME VIEW */

.home_image {
  max-width: 90%;
}

.headline {
  text-align: center;
  width: 75%;
  color: gray;
}

@media only screen and (max-width: 325px) {
  .headline {
    font-size: 1.2rem;
  }
}

/* PODCAST VIEW */

.episode-container {
  width: 80%;
  margin-bottom: 1rem;
}

.episode-container li {
  list-style: square;
  
}

.episode {
  margin: 0 auto;
}

.episode-title {
  text-align: center;
}

.episode-description {
  width: 90%;
  margin: 0 auto;
}




/* COHORT VIEW */

.cohort {
  height: 35rem;
}


